<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

    <title>Quiz 2</title>
</head>
<body style="background-color:teal;">
<ul>
    <li><a href="/" class="active">Home</a></li>
    <li><a href="/page2.html">Page2</a></li>
    <li><a href="/page3.html">Page3</a></li>
    <li><a href="/page4.html">Page4</a></li>
    <li><a href="/page5.html">Page5</a></li>


</ul>
<div style="float:right;">
    <h1>Shruthaja P Rao</h1>
    <h2>1002118604</h2>
</div>
<div style="margin-top:3%;">
    <form action="/page4.html" method="post">
        <label>Enter City Name </label><br>
        <input name="cityname" type="text" placeholder="Enter City Name">
        <input name="statename" type="text" placeholder="Enter State Name">

        <input style="margin-top:2%" type="submit" placeholder="Click me!">
    </form>
   <form action="/page42.html" method="post">
        <label>Enter City Name </label><br>
        <input name="cityname1" type="text" placeholder="Enter City Name">
        <input name="statename1" type="text" placeholder="Enter State Name">
        <input name="lon" type="text" placeholder="Enter Lon ">
        <input name="lat" type="text" placeholder="Enter lat ">
               <input name="pop" type="text" placeholder="Enter Population ">

        <input style="margin-top:2%" type="submit" placeholder="Click me!">
    </form>

</div>

<script>







</script>
</body>
</html>